@model IEnumerable<RecipesProj.Models.Recipe>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Write your own recipe", "Create")
</p>

<div class="d-flex justify-content-between flex-wrap">
    @foreach (var item in Model)
    {
        var URLId = item.VideoURL.Substring(item.VideoURL.IndexOf("?v=") + 3);
        string embedlink = "https://www.youtube.com/embed/" + URLId;

        <div class="p-2 bd-highlight">
            <div class="card p-3 mb-2 bg-light text-dark" style="width: 18rem;">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="@embedlink" allowfullscreen></iframe>
                </div>

                <div class="card-body">
                    <h5 class="card-title"> @item.Name </h5>
                    <p class="card-text">
                        <span class="rec-description">@item.Description </span>
                        @Html.ActionLink("Read More", "Details", new { id = item.ID })
                    </p>

                    <div>
                        <div class="rec-details">
                            @Html.DisplayFor(modelItem => item.FoodType.Type) | @Html.DisplayFor(modelItem => item.InsertDate)
                        </div>

                        <div class="d-flex flex-row justify-content-end">
                            <a href="@Url.Action("Edit", new { id = item.ID })" class="btn btn-sm  btn-outline-secondary rec-action-btn">
                                <i class="fa fa-edit"></i>
                            </a>
                            <a href="@Url.Action("Delete", new { id = item.ID })" class="btn btn-sm  btn-outline-secondary rec-action-btn">
                                <i class="fa fa-trash"></i>
                            </a>
                            <a class="btn fb-share btn-sm btn-outline-secondary rec-action-btn">
                                <i class="fa fa-share-alt fb-share"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
